In [7]:
import os

import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype
import geopandas as gpd
import matplotlib.pyplot as plt


# Display all columns when looking at dataframes
pd.set_option("display.max.columns", None)

In [10]:

URL = 'https://raw.githubusercontent.com/carmengg/eds-220-book/refs/heads/main/data/power_plants_epsg4269.csv'

power_plants = pd.read_csv(URL)

# Simpify column names
power_plants.columns = power_plants.columns.str.lower()

power_plants.head(3)

,unnamed: 0,objectid,plant_code,plant_name,utility_id,utility_name,sector_name,street_address,city,county,state,zip,primsource,source_desc,tech_desc,install_mw,total_mw,bat_mw,bio_mw,coal_mw,geo_mw,hydro_mw,hydrops_mw,ng_mw,nuclear_mw,crude_mw,solar_mw,wind_mw,other_mw,source,period,longitude,latitude
0,0.0,11570,1,Sand Point,63560,"TDX Sand Point Generating, LLC",Electric Utility,100 Power Plant Way,Sand Point,Aleutians East,Alaska,99661.0,petroleum,"Petroleum = 1.3 MW, Wind = 0.4 MW",Petroleum Liquids; Onshore Wind Turbine;,3.7,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3,NaN,0.4,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-160.497222,55.339722
1,1.0,11571,2,Bankhead Dam,195,Alabama Power Co,Electric Utility,19001 Lock 17 Road,Northport,Tuscaloosa,Alabama,35476.0,hydroelectric,Hydroelectric = 53 MW,Conventional Hydroelectric,53.9,53.0,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-87.356823,33.458665
2,2.0,11572,3,Barry,195,Alabama Power Co,Electric Utility,North Highway 43,Bucks,Mobile,Alabama,36512.0,natural gas,"Coal = 1118.5 MW, Natural Gas = 1296.2 MW",Conventional Steam Coal; Natural Gas Fired Com...,2569.5,2414.7,NaN,NaN,1118.5,NaN,NaN,NaN,1296.2,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-88.010300,31.006900

In [9]:
power_plants.head()

,Unnamed: 0,objectid,plant_code,plant_name,utility_id,utility_name,sector_name,street_address,city,county,state,zip,primsource,source_desc,tech_desc,install_mw,total_mw,bat_mw,bio_mw,coal_mw,geo_mw,hydro_mw,hydrops_mw,ng_mw,nuclear_mw,crude_mw,solar_mw,wind_mw,other_mw,source,period,longitude,latitude
0,0.0,11570,1,Sand Point,63560,"TDX Sand Point Generating, LLC",Electric Utility,100 Power Plant Way,Sand Point,Aleutians East,Alaska,99661.0,petroleum,"Petroleum = 1.3 MW, Wind = 0.4 MW",Petroleum Liquids; Onshore Wind Turbine;,3.7,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3,NaN,0.4,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-160.497222,55.339722
1,1.0,11571,2,Bankhead Dam,195,Alabama Power Co,Electric Utility,19001 Lock 17 Road,Northport,Tuscaloosa,Alabama,35476.0,hydroelectric,Hydroelectric = 53 MW,Conventional Hydroelectric,53.9,53.0,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-87.356823,33.458665
2,2.0,11572,3,Barry,195,Alabama Power Co,Electric Utility,North Highway 43,Bucks,Mobile,Alabama,36512.0,natural gas,"Coal = 1118.5 MW, Natural Gas = 1296.2 MW",Conventional Steam Coal; Natural Gas Fired Com...,2569.5,2414.7,NaN,NaN,1118.5,NaN,NaN,NaN,1296.2,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-88.010300,31.006900
3,3.0,11573,4,Walter Bouldin Dam,195,Alabama Power Co,Electric Utility,750 Bouldin Dam Road,Wetumpka,Elmore,Alabama,36092.0,hydroelectric,Hydroelectric = 224.1 MW,Conventional Hydroelectric,225.0,224.1,NaN,NaN,NaN,NaN,224.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-86.283056,32.583889
4,4.0,11574,9,Copper,5701,El Paso Electric Co,Electric Utility,651 Hawkins Blvd.,El Paso,El Paso,Texas,79915.0,natural gas,Natural Gas = 63 MW,Natural Gas Fired Combustion Turbine,86.9,63.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,"EIA-860, EIA-860M and EIA-923",202305.0,-106.375000,31.756900

The power plants file is a CSV. Unlike shapefiles or other geospatial file formats, geopandas doesnâ€™t have a way to extract a geometry column from a CSV file, so we will need to create this geometry manually.

To do so we will use the longitude and latitude columns in the CSV, these indicate the location of the power plants in the NAD83 CRS (EPSG:4269). We can use this information to create a new geopandas.GeoDataFrame from the pandas.DataFrame using the geopandas function points_from_xy():

In [14]:
# Create points from latitude and longitude
points = gpd.points_from_xy(power_plants.longitude, 
                            power_plants.latitude)

# Create geodataframe
power_plants = gpd.GeoDataFrame(power_plants,    # Data
                                geometry=points, # Specify geometry column
                                crs='EPSG:4269'  # Specify CRS
                                )

print(power_plants.columns)

print(power_plants.head())

Index(['unnamed: 0', 'objectid', 'plant_code', 'plant_name', 'utility_id',
       'utility_name', 'sector_name', 'street_address', 'city', 'county',
       'state', 'zip', 'primsource', 'source_desc', 'tech_desc', 'install_mw',
       'total_mw', 'bat_mw', 'bio_mw', 'coal_mw', 'geo_mw', 'hydro_mw',
       'hydrops_mw', 'ng_mw', 'nuclear_mw', 'crude_mw', 'solar_mw', 'wind_mw',
       'other_mw', 'source', 'period', 'longitude', 'latitude', 'geometry'],
      dtype='object')
   unnamed: 0 objectid plant_code          plant_name utility_id  \
0         0.0    11570          1          Sand Point      63560
1         1.0    11571          2        Bankhead Dam        195
2         2.0    11572          3               Barry        195
3         3.0    11573          4  Walter Bouldin Dam        195
4         4.0    11574          9              Copper       5701

                     utility_name       sector_name        street_address  \
0  TDX Sand Point Generating, LLC  Electric Utility   100 Power Plant Way
1                Alabama Power Co  Electric Utility    19001 Lock 17 Road
2                Alabama Power Co  Electric Utility      North Highway 43
3                Alabama Power Co  Electric Utility  750 Bouldin Dam Road
4             El Paso Electric Co  Electric Utility     651 Hawkins Blvd.

         city          county    state      zip     primsource  \
0  Sand Point  Aleutians East   Alaska  99661.0      petroleum
1   Northport      Tuscaloosa  Alabama  35476.0  hydroelectric
2       Bucks          Mobile  Alabama  36512.0    natural gas
3    Wetumpka          Elmore  Alabama  36092.0  hydroelectric
4     El Paso         El Paso    Texas  79915.0    natural gas

                                 source_desc  \
0          Petroleum = 1.3 MW, Wind = 0.4 MW
1                      Hydroelectric = 53 MW
2  Coal = 1118.5 MW, Natural Gas = 1296.2 MW
3                   Hydroelectric = 224.1 MW
4                        Natural Gas = 63 MW

                                           tech_desc  install_mw  total_mw  \
0           Petroleum Liquids; Onshore Wind Turbine;         3.7       1.7
1                         Conventional Hydroelectric        53.9      53.0
2  Conventional Steam Coal; Natural Gas Fired Com...      2569.5    2414.7
3                         Conventional Hydroelectric       225.0     224.1
4               Natural Gas Fired Combustion Turbine        86.9      63.0

   bat_mw  bio_mw  coal_mw  geo_mw  hydro_mw  hydrops_mw   ng_mw nuclear_mw  \
0     NaN     NaN      NaN     NaN       NaN         NaN     NaN        NaN
1     NaN     NaN      NaN     NaN      53.0         NaN     NaN        NaN
2     NaN     NaN   1118.5     NaN       NaN         NaN  1296.2        NaN
3     NaN     NaN      NaN     NaN     224.1         NaN     NaN        NaN
4     NaN     NaN      NaN     NaN       NaN         NaN    63.0        NaN

   crude_mw  solar_mw  wind_mw  other_mw                         source  \
0       1.3       NaN      0.4       NaN  EIA-860, EIA-860M and EIA-923
1       NaN       NaN      NaN       NaN  EIA-860, EIA-860M and EIA-923
2       NaN       NaN      NaN       NaN  EIA-860, EIA-860M and EIA-923
3       NaN       NaN      NaN       NaN  EIA-860, EIA-860M and EIA-923
4       NaN       NaN      NaN       NaN  EIA-860, EIA-860M and EIA-923

     period   longitude   latitude                     geometry
0  202305.0 -160.497222  55.339722  POINT (-160.49722 55.33972)
1  202305.0  -87.356823  33.458665   POINT (-87.35682 33.45867)
2  202305.0  -88.010300  31.006900   POINT (-88.01030 31.00690)
3  202305.0  -86.283056  32.583889   POINT (-86.28306 32.58389)
4  202305.0 -106.375000  31.756900  POINT (-106.37500 31.75690)